h1 {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 40px;
}
h2 {
  font-size: 17px;
  text-align: center;
  margin: 0 0 15px 0;
}
.local {
  display: block;
  margin: 0 auto;
  border: 1px dashed #71a0a5;
  border-radius: 10px;
  max-width: 30%;
  padding: 5px 7px;
}

.local-time {
  font-size: 16px;
}
.local-date {
  font-weight: 100;
  font-size: 14px;
}

h3 {
  font-size: 30px;

  margin: 0;
}

body {
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  border: 1px solid #71a0a5;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 600px;
  padding: 30px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(120, 98, 141, 0.4);
}
select {
  width: 50%;
  display: block;
  margin: 0 auto;

  padding: 5px;
  border-radius: 6px;
}
#reset-link {
  text-align: center;
  display: block;
  margin: 5px 0 10px 0;
  font-size: 14px;
  text-decoration: none;
  color: #78628d;
}

.date-time {
  text-align: right;
  line-height: 1;
}

.date {
  color: #78628d;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

.city {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px dashed #71a0a5;
  line-height: 2;
  vertical-align: middle;
}
.city:last-child {
  border: none;
}
footer {
  text-align: center;
  color: #77628c;
  margin: 15px;
}
