h1 {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 40px;
}
h3 {
  font-size: 30px;

  margin: 0;
}

body {
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  border: 1px solid #71a0a5;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 600px;
  padding: 30px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(120, 98, 141, 0.4);
}
select {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed #71a0a5;
}
.city:last-child {
  border: none;
}
.date {
  color: #78628d;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
footer {
  text-align: center;
  color: #77628c;
  margin: 15px;
}
